* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
 
body {
	background: #FAFAFA;
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
}


.wrap {
	margin: auto;
	max-width: 800px;
	width: 90%;
}

.formulario{
    position: relative;
}

.principal {
	background: #2A93E7;
	border-top: 20px solid #2A75B5;
	color: #fff;
	padding: 15px 0;
	width: 100%;
}
 
.principal .formulario {
	color: #212121;
	text-align: right;
}
 
.principal .formulario textarea{
    overflow: hidden;
	margin-bottom: 10px;
    padding: 15px;
    width: 80%;
    resize: none;
    color: black;
	border-radius: 10px;
    height: 130px;
}

.principal .formulario textarea[type=text].error {
	border: 5px solid #ea4242;
	color: red;
}
 
.principal .formulario {
	border: 1px solid #2A75B5;
	color: #fff;
	font-size: 16px;
	padding: 14px;
}

/* - Tweets - */
.lista {
	position: relative;
    padding: 10px;
    margin-top: 10px;
}

.lista p{
	padding-top: 15px;
}

.textTweet {
    margin: 10px;
    background-color: #F5F5F5;
    border-radius: 10px;
    height: 90px;
    padding-left: 100px;
}
.textTweet:hover{
	color: red;
}


.titulo{
    text-align: center;
}
.iconos{
    font-size: 25px;
    display: inline-block;
    position: absolute;
    left: 22%;
}
.icono{
	margin-left: 10px;
}
.icono:hover{
	border: 1px solid transparent;
    border-radius: 4px;
	padding: 4px;
	background-color: #5bc0de;
}

.contador{
	color:black;
	display: inline-block;
	font-size: 14px;
}

.limite{
	color: green;
}
.normal{
    color: black;
}

.perfil{
    display: inline-block;
    border-radius: 10px;
    position: relative;
    float: left;
}

.imagen {
    background-image: url(../img/real.png);
    background-repeat: no-repeat;
}

/* Colores de Contador */

.verde{
    color:green;
}
.rosado{
    color:palevioletred;
}
.morado{
    color:mediumpurple;
}

/* Hora */

span{
    margin: 10px;
    color: cornflowerblue;
    float: right;
}
